body {
    font-family:'Times New Roman', Times, serif;
    color: black;
}

.title{
    text-align: center;
}

/********** style for main div and pdf file containers *********/
.weekly_report {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 300px;
    font-family: Arial, sans-serif;
}

.weekly_report h3 {
    margin: 0 0 5px;
    font-size: 1.2em;
}

.weekly_report p {
    margin: 0 0 10px;
    font-size: 0.9em;
    color: #555;
}

.pdf_preview iframe {
    width: 100%;
    height: 150px;
    border: none;
}

.weekly_report a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
}

.weekly_report a:hover {
    text-decoration: underline;
}